@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    
}
@model RequestedWorkViewModel;
@if (User.Identity.IsAuthenticated && @User.FindFirst("username").Value != null)
{
    Model.username = User.Claims.Where(c => c.Type == "username").First().Value;
}
<div class="content-wrapper" style="background-color:aliceblue">
            <div class="page-header">
                <br /><br />
              <h3 class="page-title"> Request work </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a asp-controller="Customer" asp-action="Home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Request work</li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card" style="margin-left:30px;margin-right:30px;margin-bottom:30px;margin-top:40px;">
                  <div class="card-body">
                    <h4 class="card-title">Basic form elements</h4>
                    <p class="card-description"> Basic form elements </p>
                    <form class="forms-sample" asp-controller="CustomerRequestWork" asp-action="RequestWork">
                        <input asp-for=username hidden />
                      <div class="form-group">
                        <label >Project name</label>
                        <input asp-for="OrderName" class="form-control" id="exampleInputName1" placeholder="Name">
                            <span asp-validation-for="OrderName" class="text-danger"></span>
                        
                      </div>
                       <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label>Order date</label>
                                    <div class="col-sm-9">
                                        <input asp-for="OrderDate" type="date" value="@DateOnly.FromDateTime(DateTime.Now).ToString("yyyy-MM-dd")" class="form-control" disabled="true">
                                        <span asp-validation-for="OrderDate" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label>Delivery date</label>
                                    <div class="col-sm-9">
                                        <input asp-for="DeliverDate" type="date" value="@Model.DeliverDate" class="form-control">
                                        <span asp-validation-for="DeliverDate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="exampleSelectGender">Category</label>
                            <select asp-for=CategoryIdKf class="form-control" id="exampleSelectGender">
                                <option value="" hidden>Select</option>
                                @foreach(CategoryModel category in Model.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                            <span asp-validation-for="CategoryIdKf" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="exampleTextarea1">Description</label>
                            <textarea asp-for=Description class="form-control" id="exampleTextarea1" rows="4"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>

                        </div>

                        <br />
                        <h4>Price</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                        <input asp-for=Price type="number" value="" class="form-control" style="width:60%;" placeholder="Enter Price here">
                                        <span asp-validation-for="Price" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br /><br />

                        <input type="submit" class="btn btn-light" value="Post" style="background-color:cornflowerblue;width:90px;"></input>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
                <div class="card">
                </div>
              </div>
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                 
                </div>
              </div>
              <div class="col-12">
                <div class="card">
                 
                </div>
              </div>
            </div>
          </div>