@model List<SellerModel>?

<script>
    function showPosts(sellerId) {
       // var sellerId = document.getElementById("sellerId").value;
        $.ajax(
            {
                url: "/AdminManageSellers/ShowPosts",
                type: "GET",
                data: { sellerId: sellerId },

                success: function (result) {
                    console.log("passed - show posts");
                    $(".sellersDiv").html(result);


                },
                error: function (result) {
                    console.log("an error accure at showPosts function");
                    alert("an error accure please try again");
                }
            }
        )
    };
    function DeletePost(postId) {
       // var postId = document.getElementById("postId").value;
        $.ajax(
            {
                url: "/AdminManageSellers/DeletePost",
                type: "POST",
                data: { postId: postId },

                success: function (result) {
                    console.log("passed");
                    $(".sellersDiv").html(result);


                },
                error: function (result) {
                    console.log("an error accure at DeletePost function");
                    alert("an error accure please try again");
                }
            }
        )
    };

    function DeleteAccount(sellerId) {
        $.ajax(
            {
                url: "/AdminManageSellers/DeleteAccount",
                type:"POST",
                data: {sellerId : sellerId},
                
                success: function (result) {
                    console.log("success");
                    $(".sellersDiv").html(result);
                },

                error: function (result) {
                    console.log("an error accure at DeleteAccount function");
                    alert("an error accure Please try again");
                }
            }
        )
    };
    function MoneyOper(sellerId) {
        var SeletedOption = document.getElementById("SeletedOption").value;
        var moneyAmount = document.getElementById("moneyAmount").value;
        $.ajax(
            {
                url: "/AdminManageSellers/MoneyOper",
                type:"POST",
                data: { sellerId: sellerId, selectedOption: SeletedOption, moneyAmount: moneyAmount },
                
                success: function (result) {
                    console.log("success");
                    $(".sellersDiv").html(result);
                },

                error: function (result) {
                    console.log("an error accure at DeleteAccount function");
                    alert("an error accure Please try again");
                }
            }
        )
    };
</script>

@{
    if (TempData["deleted"] != null)
    {
        <h5 style="color:red" >
            @TempData["deleted"].ToString()
        </h5>
    }
    if ( Model == null ||Model.Count == 0)
    {
        <h1>No Matching Username</h1>
    }
    else
    {
        

            <div class="container-fluid fruite py-5">
                <div class="container py-5">
                    <div class="tab-class text-center">
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane fade p-0 active show">
                                <div class="row g-4">
                                    <div class="col-lg-12">
                                        <div class="row g-4">

                                            @foreach (SellerModel seller in Model)
                                            {
                                                <div class="col-md-6 col-lg-4 col-xl-3">
                                                    <input asp-for="@seller.Id" type="hidden" name="name" value="@seller.Id" />
                                                    <div class="rounded position-relative fruite-item">
                                                        <div class="fruite-img">
                                                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(seller.ProfilePicture)" alt="Alternate Text" style="border-radius:50%; width:80px;height:80px" />
                                                        </div>
                                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                            <h5>@@@seller.Username</h5>
                                                            <h6>@seller.FirstName  @seller.LastName</h6>
                                                            <div>
                                                                <button class="btn border border-secondary rounded-pill px-3" onclick="showPosts(@seller.Id)" type="button">Modify</button>
                                                                <button class="btn border border-secondary rounded-pill px-3" onclick="DeleteAccount(@seller.Id)">Delete Account</button>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                @if (Model.Count == 1)
                                                {
                                                <div class="col-md-6 col-lg-4 col-xl-3" style="margin-left:30%;">
                                                    <h2>Choose money operation</h2>
                                                    <select class="btn border border-secondary rounded-pill px-3 text-primary" id="SeletedOption" style="font-size:14px; height: 30px; width:90%; padding:0;">
                                                            <option value="option1" active hidden selected>Choose</option>
                                                            <option value="W">Withdraw</option>
                                                            <option value="D">Deposit</option>
                                                        </select>
                                                        <br>
                                                    <input class="btn border border rounded-pill px-3 text-primary" id="moneyAmount" style=" width:90%; padding:3px; margin-bottom:8px" type="number" value="" placeholder="Amount of money">
                                                        <br>
                                                    <button class="btn border border-secondary rounded-pill px-3 " type="submit" onclick="MoneyOper(@seller.Id)">Submit</button>
                                                    </div>

                                                }
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



        
        


        
        
        if (TempData["transaction"] != null)
        {
            <h5 style=" white-space: pre-line; justify-content:space-around; margin:auto; color:red">@TempData["transaction"]

            </h5>
        }

        <div id="postsDiv" style="display:flex; flex-direction:column; align-items:center; justify-content:center">
        @if (TempData["postStatus"] != null)
        {
            <h5 style="color:red">@TempData["postStatus"].ToString()</h5>
        }
        @if (Model.Count() == 1)
        {
                <h1 style =" white-space: pre-line; line-height:1; justify-content:space-around;align-items:center; margin:auto; color:black">Posts
                </h1>
                if(Model.First().SellerOldWorkModels == null || Model.First().SellerOldWorkModels.Count() == 0)
                {
                    <h1 style =" white-space: pre-line; justify-content:space-around; margin:auto; color:red">
                    No Posts To Display
                    </h1>
                }
                else
                {
                    <div class="container-fluid fruite py-5">
                        <div class="container py-5">
                            <div class="tab-class text-center">
                                <div class="tab-content">
                                    <div id="tab-1" class="tab-pane fade p-0 active show">
                                        <div class="row g-4">
                                            <div class="col-lg-12">
                                                <div class="row g-4">
                                                
                                                    @foreach (SellerOldWorkModel work in Model.First().SellerOldWorkModels.ToList())
                                                    {
                                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                                        
                                                            <div class="rounded position-relative fruite-item">
                                                                <div class="fruite-img">
                                                                    <input id="postId" asp-for=@work.Id value="@work.Id" type="hidden" />
                                                                    <img style="height:200px;width:300px;" src="data:image/jpeg;base64,@Convert.ToBase64String(work.Picture)" alt="وصف الصورة 2">
                                                                </div>
                                                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                                    <h6>@work.Description</h6>
                                                                    <div>
                                                                        <button class="btn border border-secondary rounded-pill px-3" onclick="DeletePost(@work.Id)">Delete Post</button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        
                                                        </div>
                                                     }
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    // <div id="" class="container" style="display:flex; justify-content:center">
                    //     @foreach (SellerOldWorkModel work in Model.First().SellerOldWorkModels.ToList())
                    //     {
                    //         <div>
                    //             <div class="item" style="margin:15px 7px; text-align:center; display:flex;flex-direction:column">
                    //                 <input id="postId" asp-for=@work.Id value="@work.Id" type="hidden" />
                    //                 <img src="data:image/jpeg;base64,@Convert.ToBase64String(work.Picture)" alt="وصف الصورة 2">
                    //                 <h6>@work.Description</h6>
                    //                 <button onclick="DeletePost(@work.Id)" style="font-size:small;width:inherit;margin-top:auto">Delete Post</button>
                    //             </div>
                    //         </div>
                    //     }
                    // </div>
                }
                

        }
        </div>

    }
    
}

<br>
<br>

<br />
