@using JobDone.Models.SellerOldWork
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Admin_SellerServicesViewModel

<!DOCTYPE html>
<html>
<head>
    <style>
        .half {
            float: left;
            width: 50%;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

            .half:first-child {
                border-right: 2px solid #000;
            }

        select {
            width: 50%;
            padding: 10px;
            margin: 10px 0;
        }

        .container {
            white-space: nowrap;
            overflow-x: auto;
            width: 100%;
        }

        .item {
            display: inline-block;
            width: 130px;
            height: 150px;
            background-color: gainsboro;
            color: black;
            text-align: center;
            margin-right: 10px;
            overflow: hidden;
            border: 1px solid;
            border-radius: 10px;
        }

            .item img {
                width: 130px;
                height: 80px;
                border: 0 px solid;
                border-radius: 10px;
            }

            .item p {
                /* max-block-size: 20px; */
                margin: 0;
                word-wrap: break-word;
                width: 130px;
                max-block-size: 70px;
                overflow-y: auto; /* هنا تمت إضافة خاصية word-wrap */
                text-wrap: balance;
                text-align: left;
            }


        #hiddenInput{
            display:none
        }

        #hiddenInput2 {
            display: none
        }
    </style>
    <script>

        function checkSelection() {
            var selection = document.getElementById("moneyOperation").value;
            var hiddenInput = document.getElementById("hiddenInput");
            if (selection === "option3") {
                hiddenInput.style.display = "block";
            } else {
                hiddenInput.style.display = "none";
            }
        }
        function checkSelection2() {
            var selection = document.getElementById("SellerServices").value;
            var hiddenInput = document.getElementById("hiddenInput2");
            if (selection === "option2") {
                hiddenInput.style.display = "block";
            } else {
                hiddenInput.style.display = "none";
            }
        }
    </script>

    

</head>
<body>
    
    <div class="half" id="firstHalf">
        <h2>Choose money operation</h2>
        <select id="moneyOperation" onchange="checkSelection()">
            <option value="option1" active hidden>Choose</option>
            <option value="option1">Withdraw</option>
            <option value="option2">Deposit</option>
            <option value="option3">Transfer</option>
        </select>
        <br><br><br><br><br><br>
        <input type="text" placeholder="Seller Username"><br>
        <input type="text" id="hiddenInput"  placeholder="Customer Username"><br>

        <input type="text" placeholder="Amount of money">
        <br><br>
        <input type="submit" value="submit">
    </div>

        <form action="/" method="post">
    <div class="half">
            <h2>Seller Services</h2>
            <select id="SellerServices" onchange="checkSelection2()">
                <option value="option1" active hidden>Choose</option>
                <option value="option1">Delete account</option>
                <option value="option2">Delete post</option>
            </select>
            <form method="post" style="display:flex" asp-route-username="@Model.CustomerUsername">
                <input asp-for=CustomerUsername type="text" placeholder="Username">
                <button asp-action="GetSellers" asp-route-username="@Model.CustomerUsername" type="submit">Search</button>
                
            </form>
            <div style="max-height:180px; max-width:600px;margin-bottom:15px;display:flex; overflow:auto">
                @{
                    if (TempData["deleted"] != null) 
                    {
                        <h5>
                            @TempData["deleted"].ToString(); 
                        </h5>
                    }
                    if (Model.Sellers.Count() == 0)
                    {
                        <h1>No users were found</h1>
                    }
                    else
                    {
                        foreach (SellerModel seller in Model.Sellers)
                        {
                            <form asp-action="SellerCRUD" asp-route-sellerid="@seller.Id.ToString()" style="">
                                <input asp-for="@seller.Id" type="hidden" name="name" value="@seller.Id" />
                                <div style="height:150px; width:200px;margin:8px; margin-bottom:0;  text-align:center">
                                    <button type="submit" style="margin:15pxmargin-bottom:0;border:none;padding-top:15px; width:inherit ">
                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(seller.ProfilePicture)" alt="Alternate Text"
                                             style="border-radius:50%; width:40px;height:40px" />
                                        <h5>@@@seller.Username</h5>
                                        <h6>@seller.FirstName @seller.LastName</h6>
                                    </button>
                                    <button asp-action="DeleteAccount" style="font-size:small;width:inherit" formmethod="post" asp-route-sellerid="@seller.Id">Delete Account</button>
                                </div>
                            </form>
                        }
                    }
                    
                }
            </div>
            <br><br>
                @{
                    if(Model.Sellers.Count() == 1)
                    {
                        <div id="" class="container">
                        @foreach(SellerOldWorkModel work in Model.Sellers[0].SellerOldWorkModels.ToList())
                        {
                            <div class="item">
                                <input type="checkbox" name="name" value="" />
                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(work.Picture)" alt="وصف الصورة 2">
                                <p>@work.Description</p>
                            </div>
                            
                        }
                        </div>
                        
                    }
                }
                
                
            <br />
            <input type="submit" value="Delete">
    </div>
        </form>
        
</body>
</html>