@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<JobDone.Models.Banners.BannerModel>


<h1 style="text-align:center;">Modify Banners</h1>

<form id="myForm" method="post" asp-action="EditBanners">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <select name="option" class="form-control" id="optionSelect">
                    @if(ViewBag.option == "Customer")
                    {
                        <option selected value="Customer">Customer</option>
                        <option value="Seller">Seller</option>
                        <option value="Admin">Admin</option>
                    }
                    else if (ViewBag.option == "Seller")
                    {
                        <option value="Customer">Customer</option>
                        <option selected value="Seller">Seller</option>
                        <option value="Admin">Admin</option>
                    }
                    else
                    {
                        <option value="Customer">Customer</option>
                        <option value="Seller">Seller</option>
                        <option selected value="Admin">Admin</option>
                    }
                </select>
            </div>
        </div>
    </div>
</form>

<script>
    document.getElementById('optionSelect').addEventListener('change', function () {
        document.getElementById('myForm').submit();
    });
</script>

    <br /><br />
    <div class="container-fluid carousel-header px-0">
        <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                @foreach (var (pic, index) in Model.Select((item, index) => (item, index)))
                {
                    <li data-bs-target="#carouselId" data-bs-slide-to="@index" @(index == 0 ? "class=active" : "")></li>
                }
            </ol>
            <div class="carousel-inner" role="listbox">
            @foreach (var (pic, index) in Model.Select((item, index) => (item, index)))
            {
                string base64Image = Convert.ToBase64String(pic.Picture);
                <div class="carousel-item @(index == 0 ? "active" : "")">
                    <img src="data:image/jpeg;base64,@base64Image" style="width:100%; height:600px;" class="img-fluid" alt="Image">
                    <div class="carousel-caption">
                        <div class="p-3" style="max-width: 900px;">
                            <form method="post" asp-action="Edit" enctype="multipart/form-data">
                                <input type="hidden" name="picId" value="@pic.Id" />
                                <div class="d-flex align-items-center">
                                    <button class="btn btn-secondary mr-2 edit-button" style="width:150px;background-color:gray" type="submit" disabled>
                                        Edit banner
                                    </button>
                                    <input class="form-control-file pic-file-input" style="margin-left:10px" placeholder="Select image" name="picFile" type="file" accept="image/*" data-index="@index" onchange="enableButton(event)" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }

            <script>
                function enableButton(event) {
                    var fileInput = event.target;
                    var index = fileInput.getAttribute('data-index');
                    var editButton = document.querySelector('.carousel-item:nth-of-type(' + (parseInt(index) + 1) + ') .edit-button');
                    if (fileInput.files.length > 0) {
                        editButton.disabled = false;
                        editButton.style.backgroundColor = 'green';
                    } else {
                        editButton.disabled = true;
                    }
                }
            </script>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
<br /><br /><br />