@using JobDone.Models.Order
@using JobDone.Models.Customer
@{
    Layout = "~/Views/Shared/_SellerLayout.cshtml";
}
@model SellerViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">


    <title>shopping cart with selected products order summary and checkout button - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="Customer/stylee.css" rel="stylesheet">
    <style type="text/css">
        body {
            margin-top: 20px;
            background-color: #f1f3f7;
        }

        .avatar-lg {
            height: 5rem;
            width: 5rem;
        }

        .font-size-18 {
            font-size: 18px !important;
        }

        .text-truncate {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        a {
            text-decoration: none !important;
        }

        .w-xl {
            min-width: 160px;
        }

        .card {
            margin-bottom: 24px;
            -webkit-box-shadow: 0 2px 3px #e4e8f0;
            box-shadow: 0 2px 3px #e4e8f0;
        }

        .card {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #eff0f2;
            border-radius: 1rem;
        }

        .rating {
            unicode-bidi: bidi-override;
            direction: rtl;
            text-align: center;
        }

            .rating > span {
                display: inline-block;
                position: relative;
                width: 1.1em;
                color: gold;
            }

                .rating > span:hover:before,
                .rating > span:hover ~ span:before {
                    content: "\2605";
                    position: absolute;
                    color: gold;
                }
    </style>
</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <div class="container" style="margin-top:120px;">
        <div class="row">
            <div class="col-xl-8">
                @{
                    if (Model.Order.Count != 0)
                    {
                        foreach (var item in Model.Order)
                        {
                            <div class="card border shadow-none">
                                <div class="card-body">
                                    <div class="d-flex align-items-start border-bottom pb-3">
                                        <div class="me-4">
                                            @{
                                                string base64Image = Convert.ToBase64String(item.CustomerIdFkNavigation.ProfilePicture);
                                            }
                                            <img src="data:image/jpeg;base64,@base64Image" alt="Image" class="avatar-lg rounded; rounded-circle">
                                        </div>
                                        <div class="flex-grow-1 align-self-center overflow-hidden">
                                            <div>
                                                <div style="display:flex; flex-direction:row; justify-content:center; align-items:start">
                                                    <h2 class="text-truncate font-size-40"><a href="#" class="text-dark">@item.CustomerIdFkNavigation.FullName().ToString()</a></h2>
                                                    <h5 style="margin-left:auto; color:black; font-size:x-large" class="mb-0 mt-1">Project Name : <span class="fw-medium">@item.OrderName</span></h5>
                                                </div>
                                                <div style="display:flex; flex-direction:row; justify-content:center; align-items:start">
                                                    <h2 class="text-truncate font-size-18"><a href="#" style="color:gray">@@@item.CustomerIdFkNavigation.Username</a></h2>

                                                    @if (item.Status == "Working")
                                                    {
                                                        <h5 style="margin-left:auto; color:black; font-size:large" class="mb-0 mt-1">Work Status : <span class="fw-medium">Pending...</span></h5>
                                                    }
                                                    @if (item.Status == "SellerCompleted")
                                                    {
                                                        <h5 style="margin-left:auto; color:black; font-size:large" class="mb-0 mt-1"><span class="fw-medium">Witing for the Customer to Agree</span></h5>
                                                    }
                                                    @if (item.Status == "Done")
                                                    {
                                                        <h5 style="margin-left:auto; color:black; font-size:large" class="mb-0 mt-1">Work Status : <span class="fw-medium">Done.</span></h5>
                                                    }                                                    

                                                </div>
                                              
                                                <h5 class="mb-0 mt-1">Order description : <h6 class="fw-medium">@item.Description</h6></h5>
                                                @if (item.Status == "Working")
                                                {
                                                    <form action="Complet" method="post">
                                                        <div style="display:flex; flex-direction:row; justify-content:right; align-items:start">
                                                            <button type="submit" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4 btn-accept" name="orderID" value="@item.Id">Complet</button>
                                                        </div>
                                                    </form>
                                                }
                                                @if (item.Status == "SellerCompleted")
                                                {
                                                    <div style="display:flex; flex-direction:row; justify-content:right; align-items:start">
                                                        <button type="submit" class="btn btn-primary-outline-0 rounded-pill py-2 px-4 btn-accept" style="background-color: gray" name="Complet" value="" disabled>Complet</button>
                                                    </div>
                                                }
                                                @if (item.Status == "Done")
                                                {
                                                    <form action="DeleteOrder" method="post">
                                                        <div style="display:flex; flex-direction:row; justify-content:right; align-items:start">
                                                            <button type="submit" class="btn btn-primary-outline-0 rounded-pill py-2 px-4 btn-accept" style="background-color: red" name="orderID" value="@item.Id">Delete</button>
                                                        </div>
                                                    </form>
                                                }
                                                

                                            </div>
                                        </div>


                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="mt-3">
                                                    <p class="text-muted mb-2">Payment amount</p>
                                                    <h5 class="mb-0 mt-2"><span class="text-muted me-2"></span>$@Math.Round(item.Price,2)</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="mt-3" style="margin-left:40px;">
                                                    <p class="text-muted mb-2">Order date</p>
                                                    <div class="d-inline-flex">
                                                        <h5>@item.OrderDate</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="mt-3">
                                                    <p class="text-muted mb-2">Delivery date</p>
                                                    <h5>@item.DeliverDate</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                }
                <div class="row my-4">
                    <div class="col-sm-6">
                        <a asp-controller="Seller" asp-action="Home" class="btn btn-link text-muted">
                            <i class="mdi mdi-arrow-left me-1"></i> Back to home
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-xl-4">
                <div class="mt-5 mt-lg-0">
                    <div class="card border shadow-none">
                        <div class="card-header bg-transparent border-bottom py-3 px-4">
                            <h5 class="font-size-16 mb-0">Order Summary </h5>
                        </div>
                        <div class="card-body p-4 pt-2">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <tbody>
                                        @{
                                            decimal TotalPrice = 0;
                                            for (int i = 0; i < Model.Order.Count ; i++)
                                            {
                                                TotalPrice += Model.Order[i].Price;
                                            }
                                            decimal TotalPriceAfterTaxes = TotalPrice *Convert.ToDecimal(0.05);
                                            decimal TotalPayment = TotalPrice - TotalPriceAfterTaxes;
                                        }
                                        <tr>
                                            <td>Total cost for services</td>
                                            <td class="text-end">$@Math.Round(TotalPrice,2)</td>
                                        </tr>
                                        <tr>
                                            <td>Total website taxes </td>
                                            <td class="text-end">$@Math.Round(TotalPriceAfterTaxes,2)</td>
                                        </tr>

                                        <tr class="bg-light">
                                            <th>Total payment :</th>
                                            <td class="text-end">
                                                <span class="fw-bold">
                                                    $@Math.Round(TotalPayment,2)
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </>

        </div>

        </script>
</body>
</html>
