@using Azure.Core
@using System.IO
<link rel="stylesheet" href="~/SignUp/css/style.css" />
@model SignUpSellerCatgoreViewModel

<section class="container">
    <header>Registration Form</header>
    <form action="#" class="form" method="post" enctype="multipart/form-data">
        @if (TempData["null"] != null)
        {
            <div class="alert alert-danger">
                @TempData["null"]
            </div>
        }
        <div class="input-box">

            <div></div>
        </div>
        <div class="column">
            <div class="input-box">

                <label>First Name</label>
                <input asp-for="@Model.Seller.FirstName" type="text" placeholder="Enter First name" required />
                <span asp-validation-for="Seller.FirstName" class="text-danger"></span>

            </div>
            <div class="input-box">
                <label>Last Name</label>
                <input asp-for="@Model.Seller.LastName" type="text" placeholder="Enter Last name" required />
                <span asp-validation-for="Seller.LastName" class="text-danger"></span>

            </div>
        </div>

        <div class="input-box">
            <label>Email Address</label>
            <input asp-for="@Model.Seller.Email" type="text" placeholder="Enter email address" required />
            <span asp-validation-for="Seller.Email" class="text-danger"></span>

        </div>

        <div class="column">
            <div class="input-box">
                <label>Phone Number</label>
                <input asp-for="@Model.Seller.PhoneNumber" type="number" placeholder="Enter phone number" required />
                <span asp-validation-for="Seller.PhoneNumber" class="text-danger"></span>

            </div>
            <div class="input-box">
                <label>Birth Date</label>
                <input asp-for="@Model.Seller.BirthDate" type="date" value="@DateTime.Now" required />
                <span asp-validation-for="Seller.BirthDate" class="text-danger"></span>

            </div>
        </div>
        <div class="gender-box">
            <h3>Gender</h3>
            <div class="gender-option">
                <div class="gender">
                    @Html.RadioButtonFor(m => m.Seller.Gender, "Male")
                    <label for="check-male">male</label>
                </div>
                <div class="gender">
                    @Html.RadioButtonFor(m => m.Seller.Gender, "Female")
                    <label for="check-female">Female</label>
                </div>
                <div class="gender">
                    @Html.RadioButtonFor(m => m.Seller.Gender, "Other")
                    <label for="check-other">prefer not to say</label>
                </div>
            </div>
            <span asp-validation-for="Seller.Gender" class="text-danger"></span>
        </div>
        <div class="input-box">
            <label>User name</label>
            <input asp-for="@Model.Seller.Username" type="text" placeholder="Enter User name" required />
            <span asp-validation-for="Seller.Username" class="text-danger"></span>
        </div>
        <div class="input-box">
            <label>Password</label>
            <input asp-for="@Model.Seller.Password" type="password" placeholder="Enter your Password" required />
            <span asp-validation-for="Seller.Password" class="text-danger"></span>

            <label>Confirom</label>
            <input type="password" name="CoinformPassword" placeholder="Confirom the password" required />
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["SuccessMessage"]
                </div>
            }
            <label>Upload your ID</label>
            <input asp-for="@Model.PersonalId" type="file" required />
            <label>Choose your specialty</label>
            <div class="column">

                <div class="select-box">
                    <select asp-for="@Model.Seller.CategoryIdFk" required>

                        <option hidden>Category</option>
                        @foreach (var c in Model.Category)
                        {
                            <option value="@c.Id">@c.Name</option>
                        }
                    </select>
                </div>
                <span asp-validation-for="Seller.CategoryIdFk" class="text-danger"></span>

            </div>
            <br />
            <div>
                <label>your Services</label>
                <div class="select-box">
                    <select id="mySelect" onchange="createInputs()">
                        <option hidden>How many services do you want to enter?</option>
                        @{
                            int slected = 0;
                        }
                        @for (int i = 1; i <= 5; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>


                    <script>
                        function createInputs() {
                            var selectElement = document.getElementById("mySelect");
                            var selectedValue = selectElement.value;
                            var inputContainer = document.getElementById("inputContainer");

                            if (selectedValue !== null) {
                                inputContainer.innerHTML = "";

                                for (var i = 0; i < selectedValue; i++) {


                                    var inputServices = document.createElement("input");
                                    inputServices.name = "serviecs";
                                    inputServices.type = "text";
                                    inputServices.required;
                                    inputServices.placeholder = "Services Name";

                                    var textarea = document.createElement("textarea");
                                    textarea.name = "textarea";
                                    textarea.placeholder = "Description";
                                    textarea.rows = 4;
                                    textarea.cols = 72;
                                    textarea.required;

                                    inputContainer.appendChild(inputServices);
                                    inputContainer.appendChild(textarea);
                                }
                            } else {
                                inputContainer.innerHTML = "";
                            }
                        }
                    </script>


                </div>
            </div>

            <div id="inputContainer"></div>
            <br />
            <label>Upload your Photo</label>
            <input asp-for="@Model.PrfilePicture" type="file" required />
            <span asp-validation-for="PrfilePicture" asp class="text-danger"></span>

            <br />

            <label>Security question</label>
            <div class="column">
                <div class="select-box">
                    <select asp-for="@Model.Seller.SecurityQuestionIdFk" required>
                        <option hidden>Choes Security Question</option>
                        @foreach (var q in Model.SecurityQuestions)
                        {
                            <option value="@q.Id">@q.SecurityQuestion</option>
                        }
                    </select>
                </div>
                <span asp-validation-for="Seller.CategoryIdFk" asp class="text-danger"></span>

                <input asp-for="@Model.Seller.SecurityQuestionAnswer" type="text" placeholder="Answer" required />
                <span asp-validation-for="Seller.SecurityQuestionAnswer" asp class="text-danger"></span>

            </div>
        </div>
        <br /><br />
        <input type="checkbox" name="name" value="" style="margin-left:32%;" required />Accept <a asp-controller="Seller" asp-action="PrivacyPolicy">Privacy Policy</a>
        <br /><br />
        <input type="submit" class="btn btn-gradient-primary btn-rounded btn-fw" style="background-color:blueviolet; margin-left:30%; margin-top:5%; color:white; padding-left:15%;padding-right:15%;" value="Submit" />


    </form>
</section>