@model SignUpCustomerViewModel;



<link rel="stylesheet" href="~/SignUp/css/style.css" />

<section class="container">
    <header>Registration Form</header>
    <form class="form" method="post" enctype="multipart/form-data">
        <div class="input-box">

            <div></div>
        </div>
        <div class="column">
            <div class="input-box">
                <label>First Name</label>
                <input asp-for="FirstName" placeholder="Enter First name" required/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label>Last Name</label>
                <input asp-for="@Model.LastName" placeholder="Enter Last name" required />
                <span asp-validation-for="LastName" class="text-danger"></span>

            </div>
        </div>

        <div class="input-box">
            <label>Email Address</label>
            <input asp-for="@Model.Email" placeholder="Enter email address" required />
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>

        <div class="column">
            <div class="input-box">
                <label>Phone Number</label>
                <input asp-for="@Model.PhoneNumber" type="number" placeholder="Enter phone number" required />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

            </div>
            <div class="input-box">
                <label>Birth Date</label>
                <input asp-for="@Model.BirthDate" type="date" value="@DateTime.Now" required />
                <span asp-validation-for="BirthDate" class="text-danger"></span>

            </div>
        </div>
        <div class="gender-box">
            <h3>Gender</h3>
            <div class="gender-option">
                <div class="gender">
                    @Html.RadioButtonFor(m => m.Gender,"Male")
                    <label for="check-male">male</label>
                </div>
                <div class="gender">
                    @Html.RadioButtonFor(m => m.Gender, "Female")
                    <label for="check-female">Female</label>
                </div>
                <div class="gender">
                    @Html.RadioButtonFor(m => m.Gender, "Not Specified")
                    <label for="check-other">prefer not to say</label>
                </div>
            </div>
            <span asp-validation-for="Gender" class="text-danger"></span>

        </div>
        <div class="input-box">
            <label>User name</label>
            <input asp-for="@Model.Username" placeholder="Enter User name" required />
            <span asp-validation-for="Username" class="text-danger"></span>
            @* @if(TempData["exist"] != null) {
                <span class="text-danger">@TempData["exist"]</span> } *@

        </div>
        <div class="input-box">
            <label>Password</label>
            <input asp-for="@Model.Password" type="password" placeholder="Enter your Password" required />
            <span asp-validation-for="Password" class="text-danger"></span>
            <br />
            <label>Confirom</label>
            <input asp-for="@Model.ConfirmPassword" type="password" placeholder="Confirom the password" required />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            
            <div class="column">
                <div>
                    <div class="select-box">
                        <select asp-for="@Model.SecurityQuestionIdFk">
                            <option hidden value=0>Security question</option>

                            @foreach (var q in Model.SecurityQuestions)
                            {
                                <option value="@q.Id">@q.SecurityQuestion</option>
                            }
                        </select>
                    </div>
                    <span asp-validation-for="SecurityQuestionIdFk" class="text-danger"></span>
                </div>
                   
                <div>
                    <input asp-for="@Model.SecurityQuestionAnswer" placeholder="Answer" />
                    <span asp-validation-for="SecurityQuestionAnswer" asp class="text-danger"></span>

                </div>

            </div>
            <br />
            <div class="custom-border bxs-file-image">
                    <label class="custome-file-label">Profile Image</label>
                    <input class="form-control bi-file" asp-for="@Model.profilePictureAsFile"/>
            </div>
        </div>
        <input type="submit" class="btn btn-gradient-primary btn-rounded btn-fw" style="background-color:blueviolet; margin-left:30%; margin-top:5%; color:white; padding-left:15%;padding-right:15%;" value="Submit" />
        <br /><br />
        <input type="checkbox" name="name" value="" required style="margin-left:32%;" />Accept <a href="#">Privacy Policy</a>
    </form>
</section>