@model JobDone.Models.Customer.CustomerModel;

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


    <style type="text/css">
        body {
            margin-top: 20px;
            color: #1a202c;
            text-align: left;
            background-color: #e2e8f0;
        }

        .main-body {
            padding: 15px;
        }

        .card {
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }


        .card-body {
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1rem;
        }

        .gutters-sm {
            margin-right: -8px;
            margin-left: -8px;
        }

            .gutters-sm > .col, .gutters-sm > [class*=col-] {
                padding-right: 8px;
                padding-left: 8px;
            }

        .mb-3, .my-3 {
            margin-bottom: 1rem !important;
        }

        .bg-gray-300 {
            background-color: #e2e8f0;
        }

        .h-100 {
            height: 100% !important;
        }

        .shadow-none {
            box-shadow: none !important;
        }


        .rating {
            unicode-bidi: bidi-override;
            direction: rtl;
            text-align: center;
        }

            .rating > span {
                display: inline-block;
                position: relative;
                width: 1.1em;
            }

                .rating > span:hover:before,
                .rating > span:hover ~ span:before {
                    content: "\2605";
                    position: absolute;
                    color: gold;
                }

    /* النمط للنافذة المنبثقة */
    .popup {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        border: 900px;
        margin-left: 350px;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        overflow: auto;
    }
    /* النمط لمحتوى النافذة المنبثقة */
    .popup-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .get-started-btn {
        color: black;
        border-radius: 4px;
        padding: 7px 25px 8px 25px;
        white-space: nowrap;
        transition: 0.3s;
        font-size: 14px;
        display: inline-block;
        border: 2px solid #ffc451;
    }

        .get-started-btn:hover {
            background: #ffbb38;
            color: #343a40;
        }

    @@media (max-width: 992px) {
        .get-started-btn {
            padding: 7px 20px 8px 20px;
            margin-right: 15px;
        }
    }

    </style>

    <br /><br /><br /><br />

    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                            @{
                                string base64Image = Convert.ToBase64String(Model.ProfilePicture);
                            }
                            <img src="data:image/jpeg;base64,@base64Image" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                   
                                     <h2>@Model.Username</h2>
                                    <h4 style="color:gray">@Model.FullName().ToString()</h4>

                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                @Model.FullName()
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.Email
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.PhoneNumber
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button class="get-started-btn" style="" onclick="openPopup()">Edit</button>
                                        <form method="get" asp-action="Logout" asp-controller="Customer" style="display:contents">
                                            <input class="btn btn-danger btn-rounded btn-fw" type="submit" value="Logout" style="margin-left:1%; width:100px;" />
                                        </form>
                                        <div id="myPopup" class="popup">
                                            <div class="popup-content">
                                                <form method="post" asp-action="Edit" enctype="multipart/form-data">
                                                    <span onclick="closePopup()" style="float:right;">×</span>
                                                    <img src="data:image/jpeg;base64,@base64Image" id="myImage" alt="Admin" class="rounded-circle" width="150" style="margin-left:30%;">
                                                    <div>
                                                        @{
                                                            IFormFile? profilePictureAsFile = null;
                                                        }
                                                        <br />
                                                        <div class ="text-center">
                                                            
                                                            <input style="get-started-btn" onchange="handleFileUpload(event)" name="profilePictureAsFile" type="file" id="imageInput" accept="image/*">
                                                        </div>
                                                    </div>
                                                    <br /><br /><br /><br />
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <h6 class="mb-0">Username</h6>
                                                        </div>
                                                        <div class="col-sm-9 text-secondary">
                                                            <input type="text" name="Username" asp-for="Username" value="@Model.Username" placeholder="Enter your Username" />
                                                            <span asp-validation-for="Username" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <br /><br />
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <h6 class="mb-0">First Name</h6>
                                                        </div>
                                                        <div class="col-sm-9 text-secondary">
                                                            <input type="text" name="FirstName" asp-for="FirstName" value="@Model.FirstName" placeholder="Enter your first name" />
                                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <br /><br />
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <h6 class="mb-0">Last Name</h6>
                                                        </div>
                                                        <div class="col-sm-9 text-secondary">
                                                            <input type="text" name="LastName" asp-for="LastName" value="@Model.LastName" placeholder="Enter your last name" />
                                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <br /><br />
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <h6 class="mb-0">Email</h6>
                                                        </div>
                                                        <div class="col-sm-9 text-secondary">
                                                            <input type="email" name="Email" asp-for="Email" value="@Model.Email" placeholder="Enter your Email" />
                                                            <span asp-validation-for="Email" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <br /><br />
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <h6 class="mb-0">Phone</h6>
                                                        </div>
                                                        <div class="col-sm-9 text-secondary">
                                                            <input type="text" name="PhoneNumber" asp-for="PhoneNumber" value="@Model.PhoneNumber" placeholder="Enter your phone number" />
                                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <br /><br />
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <h6 class="mb-0">OldPassword</h6>
                                                        </div>
                                                        <div class="col-sm-9 text-secondary">
                                                            <input type="password" name="Password" asp-for="Password" value="" placeholder="Enter your password" />
                                                            <span asp-validation-for="Password" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <br /><br />
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <h6 class="mb-0">NewPassword</h6>
                                                        </div>
                                                        <div class="col-sm-9 text-secondary">
                                                            @{string NewPassword = "";}
                                                            <input type="password" name="NewPassword"  value="" placeholder="Enter your password" />
                                                        </div>
                                                    </div>
                                                    <br /><br />
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <h6 class="mb-0">Birthdate</h6>
                                                        </div>
                                                        <div class="col-sm-9 text-secondary">
                                                            <input type="date" name="BirthDate" asp-for="BirthDate" value="@Model.BirthDate.ToString("yyyy-MM-dd")" placeholder="Enter your Birthdate" />
                                                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <br /><br />

                                                    <input class="get-started-btn" type="submit" value="edit" style="margin-left:30%;width:200px; background-color:#ffbb38;" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>



<script>
    // فتح النافذة المنبثقة
    function openPopup() {
        document.getElementById("myPopup").style.display = "block";

    }

    // إغلاق النافذة المنبثقة
    function closePopup() {
        document.getElementById("myPopup").style.display = "none";


    }
    function hideButton() {
        const button = document.getElementById("myButton");
        button.style.display = "none";
    }
    function showButton() {
        const button = document.getElementById("myButton");
        button.style.display = "block";
    }
    function handleFileUpload(event) {
        const file = event.target.files[0];
        const reader = new FileReader();
        reader.onload = function (e) {
            document.getElementById('myImage').src = e.target.result; // Update the preview image with the selected file
        };
        reader.readAsDataURL(file);
    }
</script>



