@using System.Security.Claims
@model SellerServicesCategoryViewModel

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    string CustomerId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="container">
    <h1>Search Results</h1>

    <div class="row mb-4">
        <form class="d-flex" method="post" asp-action="Search">
            <div class="col-md-7">
                    <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="col-md-2">
                <select class="form-select" name="option" aria-label="Filter">
                    <option value="category">Category</option>
                    <option value="username">Username</option>
                    <option value="service">Service</option>
                </select>
            </div>
            &nbsp;
            <button class="btn btn-outline-primary" type="submit">
                <h7>
                    <i class="fas fa-search"></i> Search
                </h7>
            </button>
        </form>
    </div>
        <div class="row">
            @if(Model.Option == "service")
            {
                @foreach (var Seller in Model.Sellers)
                {
                    @foreach(var service in Model.Services)
                    {
                    @if (service.SellerIdFk == Seller.Id)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4">
                                @{
                                    string base64Image = Convert.ToBase64String(Seller.ProfilePicture);
                                }
                                <div class="image-container d-flex align-items-center justify-content-center" style="margin-top:5px">
                                    <img src="data:image/jpeg;base64,@base64Image" alt="Profile Picture" class="rounded-circle" width="150">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@Seller.Username</h5>
                                    <div class="rating">
                                        @{
                                            short count = 0;
                                        }
                                        @for (short i = 0; i < Seller.Rate; i++)
                                        {
                                            count++;
                                            <span class="star">&#9733;</span>
                                        }
                                        @for (short i = 0; i < 5 - count; i++)
                                        {
                                            <span class="star">&#9734;</span>
                                        }
                                    </div>
                                    @{
                                        List<string> services = Model.Services.Where(x => x.SellerIdFk == Seller.Id).Select(x => x.Name).ToList();
                                    }
                                    <spna>Services : </spna>
                                    @foreach (var Service in services)
                                    {
                                        <span>@Service, </span>
                                    }
                                    <br />
                                    <h5>@Seller.CategoryIdFkNavigation.Name</h5>
                                    <form asp-controller="CustomerOrder" asp-action="Chat" method="get">
                                        <input type="hidden" name="customerId" value="@CustomerId" />
                                        <input type="hidden" name="sellerId" value="@Seller.Id" />
                                        <button type="submit" class="btn btn-primary">Message</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                    }
                }
            }
            else
            {
                @if (Model.Sellers.Count() == 0)
                {
                    <h3 style="color:red">Nothing here</h3>
                }
                @foreach (var Seller in Model.Sellers)
                {
                    <div class="col-md-4">
                        <div class="card mb-4">
                            @{
                                string base64Image = Convert.ToBase64String(Seller.ProfilePicture);
                            }
                            <div class="image-container d-flex align-items-center justify-content-center" style="margin-top:5px">
                                <img src="data:image/jpeg;base64,@base64Image" alt="Profile Picture" class="rounded-circle" width="150">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@Seller.Username</h5>
                                <div class="rating">
                                    @{
                                        short count = 0;
                                    }
                                    @for (short i = 0; i < Seller.Rate; i++)
                                    {
                                        count++;
                                        <span class="star">&#9733;</span>
                                    }
                                    @for (short i = 0; i < 5 - count; i++)
                                    {
                                        <span class="star">&#9734;</span>
                                    }
                                </div>
                                @{
                                    List<string> services = Model.Services.Where(x => x.SellerIdFk == Seller.Id).Select(x => x.Name).ToList();
                                }
                                <spna>Services : </spna>
                                @foreach (var service in services)
                                {
                                    <span>@service, </span>
                                }
                                <br />
                                <h5>@Seller.CategoryIdFkNavigation.Name</h5>
                            <form asp-controller="CustomerOrder" asp-action="Chat" method="get">
                                <input type="hidden" name="customerId" value="@CustomerId" />
                                <input type="hidden" name="sellerId" value="@Seller.Id" />
                                <button type="submit" class="btn btn-primary">Message</button>
                            </form>
                            </div>
                        </div>
                    </div>
                }
            }

            
        </div>
    </div>
</div>